.wrapper
  %h4.page_title
    wirte a blog
  .content
    = form_for @blog do |f|
      = f.label :title
      .content--write__title
        = f.text_field :title, placeholder: "blog title",class:"write_title"
      = f.label :text
      .content--write__text
        = f.text_area :text, placeholder: "blog text",class:"write_text"
      .material-icons file_upload
      = f.submit class:"post"
